@import "../../../assets/styles/_global.scss";

.mainLayout {
  background-color: $white;

  &__layoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-bottom: 30px;

    &-center {
      max-width: 1280px;
      max-height: 720px;
      width: 100%;
    }
  }
}
